<div class="modal-content">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">&times;</button>
    <h4 class="modal-title">CHinh sua</h4>
  </div>
  <div class="modal-body">
    <%= simple_form_for [:employers, @apply] do |f| %>
      <%= f.select :status, Apply.statuses.map{|key, value| [t("status_#{key}"), key]},{}, {class: "form-control"} %>
        <br>
           <%= f.button :submit %>
  </div>
  <div class="modal-footer">
   <%= f.button :submit %>
    <% end %>
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
  </div>
</div>
